<p-card header="Ore Lavorative" class="mb-4">
  <div class="p-fluid">
    <div class="p-field">
      <label for="oreFeriali">Ore Lavorative Feriali (hh - hh):</label>
      <p-inputmask
        id="oreFeriali"
        mask="99 - 99"
        [(ngModel)]="maskValues[0]"
        placeholder="08 - 18"
      ></p-inputmask>
    </div>

    <div class="p-field">
      <label for="oreFestive">Ore Lavorative Festive (hh - hh):</label>
      <p-inputmask
        id="oreFestive"
        mask="99 - 99"
        [(ngModel)]="maskValues[1]"
        placeholder="08 - 18"
      ></p-inputmask>
    </div>

    <div class="p-field">
      <label for="tariffaOraria">Tariffa Oraria (€):</label>
      <p-inputNumber
        id="tariffaOraria"
        [(ngModel)]="hourlyRate"
        mode="currency"
        currency="EUR"
        locale="it"
        [min]="0"
      ></p-inputNumber>
    </div>

    <div class="p-field">
      <label for="coefficienteFestivo">Coefficiente Festivo:</label>
      <p-inputNumber
        id="coefficienteFestivo"
        [(ngModel)]="coefficienteFestivo"
        [min]="1"
        [step]="0.1"
      ></p-inputNumber>
    </div>

    <div class="p-field">
      <label for="percentualeOre">Percentuale Ore Feriali (%):</label>
      <p-inputNumber
        id="percentualeOre"
        [(ngModel)]="workdayPercentage"
        [min]="0"
        [max]="100"
      ></p-inputNumber>
    </div>

    <div class="p-field">
      <label for="oreExtra">Ore Extra:</label>
      <p-inputNumber
        id="oreExtra"
        [(ngModel)]="extraHours"
        [min]="0"
      ></p-inputNumber>
    </div>

    <div class="p-field">
      <label for="tariffaExtraFeriali">Tariffa Ore Extra Feriali (€):</label>
      <p-inputNumber
        id="tariffaExtraFeriali"
        [(ngModel)]="ferialExtraRate"
        mode="currency"
        currency="EUR"
        locale="it"
        [min]="0"
      ></p-inputNumber>
    </div>

    <div class="p-field">
      <label for="coefficienteFestivo">Coefficiente Festivo:</label>
      <p-inputNumber
        id="coefficienteFestivo"
        [(ngModel)]="coefficienteFestivoExtra"
        [min]="1"
        [step]="0.1"
      ></p-inputNumber>
    </div>

    <div class="p-field">
      <label for="tariffaExtraFestive">Durata Reperibilità:</label>
      <p-inputNumber
        id="tariffaExtraFestive"
        [(ngModel)]="durataReperibilita"
        locale="it"
        [min]="0"
      ></p-inputNumber>
    </div>

    <div class="p-field">
      <button
        pButton
        label="Calcola Ore Annue"
        (click)="calcolaOreAnnuali()"
      ></button>
    </div>
  </div>
</p-card>

<p-card header="Risultati" class="mt-4">
  <div *ngIf="totalAnnualCost !== null && costoTotAnnuale !== null">
    <p>
      <strong>Costo Totale Annuale:</strong>
      {{ totalAnnualCost | currency : "EUR" }}
    </p>

    <p>
      <strong>Costo Totale Annuale (con ore extra):</strong>
      {{ costoTotAnnuale | currency : "EUR" }}
    </p>

    <!-- <p>
      <strong>Costo Totale Annuale (con ore extra):</strong>
      {{ repMensile}}
    </p> -->

    <!-- <p>
      <strong>Reperibilità Totale:</strong>
      {{ totRep | currency : "EUR" }}
    </p> -->
  </div>
</p-card>
