<p-card header="Contatore reperibilità:" class="mb-4 text-center">
  <div class="p-fluid">
    <div class="p-field grid align-items-center">
      <label for="oreFeriali" class="col-6 text-right"
        >Orario Lavorativo Feriale Giornaliero (hh - hh):</label
      >
      <div class="col-6 text-left">
        <p-inputmask
          class="w-14rem"
          id="oreFeriali"
          mask="99 - 99"
          [(ngModel)]="maskValues[0]"
          placeholder="08 - 18"
        ></p-inputmask>
      </div>
    </div>

    <div class="p-field grid align-items-center">
      <label for="oreFestive" class="col-6 text-right"
        >Ore Lavorative Festive (hh - hh):</label
      >
      <div class="col-6 text-left">
        <p-inputmask
          class="w-14rem"
          id="oreFestive"
          mask="99 - 99"
          [(ngModel)]="maskValues[1]"
          placeholder="08 - 18"
        ></p-inputmask>
      </div>
    </div>

    <div class="p-field grid align-items-center">
      <label for="tariffaOraria" class="col-6 text-right"
        >Tariffa Oraria (€):</label
      >
      <div class="col-6 text-left">
        <p-inputNumber
          class="w-14rem"
          id="tariffaOraria"
          [(ngModel)]="hourlyRate"
          mode="currency"
          currency="EUR"
          locale="it"
          [min]="0"
        ></p-inputNumber>
      </div>
    </div>

    <div class="p-field grid align-items-center">
      <label for="coefficienteFestivo" class="col-6 text-right">
        Coefficiente Festivo:
      </label>
      <div class="col-6 text-left">
        <p-slider
          [(ngModel)]="coefficienteFestivo"
          [min]="1"
          [max]="5"
          [step]="0.1"
          styleClass="w-56"
          class="w-14rem block"
        ></p-slider>
        <!-- <span>{{ coefficienteFestivo }}</span> -->
      </div>
    </div>

    <div class="p-field grid align-items-center">
      <label for="percentualeOre" class="col-6 text-right"
        >Percentuale Ore Feriali (%):</label
      >
      <div class="col-6 text-left">
        <p-inputNumber
          class="w-14rem"
          id="percentualeOre"
          [(ngModel)]="workdayPercentage"
          [min]="0"
          [max]="100"
        ></p-inputNumber>
      </div>
    </div>

    <div class="p-field grid align-items-center">
      <label for="oreExtra" class="col-6 text-right">Ore Extra:</label>
      <div class="col-6 text-left">
        <p-inputNumber
          class="w-14rem"
          id="oreExtra"
          [(ngModel)]="extraHours"
          [min]="0"
        ></p-inputNumber>
      </div>
    </div>

    <div class="p-field grid align-items-center">
      <label for="tariffaExtraFeriali" class="col-6 text-right"
        >Tariffa Ore Extra Feriali (€):</label
      >
      <div class="col-6 text-left">
        <p-inputNumber
          class="w-14rem"
          id="tariffaExtraFeriali"
          [(ngModel)]="ferialExtraRate"
          mode="currency"
          currency="EUR"
          locale="it"
          [min]="0"
        ></p-inputNumber>
      </div>
    </div>

    <div class="p-field grid align-items-center">
      <label for="coefficienteFestivoExtra" class="col-6 text-right"
        >Coefficiente Festivo:</label
      >
      <div class="col-6 text-left">
        <p-inputNumber
          class="w-14rem"
          id="coefficienteFestivoExtra"
          [(ngModel)]="coefficienteFestivoExtra"
          [min]="1"
          [step]="0.1"
        ></p-inputNumber>
      </div>
    </div>

    <div class="p-field grid align-items-center">
      <label for="tariffaExtraFestive" class="col-6 text-right"
        >Durata Reperibilità:</label
      >
      <div class="col-6 text-left">
        <p-inputNumber
          class="w-14rem"
          id="tariffaExtraFestive"
          [(ngModel)]="durataReperibilita"
          locale="it"
          [min]="0"
        ></p-inputNumber>
      </div>
    </div>

    <div class="p-field flex justify-content-center">
      <button pButton label="Calcola" (click)="calcolaOreAnnuali()"></button>
    </div>
  </div>

  <div *ngIf="totalAnnualCost !== null && costoTotAnnuale !== null">
    <p>
      <strong>Costo Totale Annuale:</strong>
      {{ totalAnnualCost | currency : "EUR" }}
    </p>

    <p>
      <strong>Costo Totale Annuale (con ore extra):</strong>
      {{ costoTotAnnuale | currency : "EUR" }}
    </p>

    <p>
      <strong>Reperibilità Totale:</strong>
      {{ totRep | currency : "EUR" }}
    </p>
  </div>
</p-card>
